#main2 {
  width: 100%;
  aspect-ratio: 1920 / 1100;
  height: auto;
  background-color: #FCFDFF;
  position: relative;
}
.title2 {
  font-size: 1.1vw;
  font-weight: 700;
  letter-spacing: 2px;
  color: #333;
  padding: 3% 0 0 19%;
}

.p_txt{
  font-size: 10vw;
  font-weight: 800;
  letter-spacing: 2px;
  color: #F8F8F8;
}
.p_txt p:nth-of-type(1) {
  position: absolute;
  top: 5%;
  right: 10%;
}
.p_txt p:nth-of-type(2) {
  position: absolute;
  top: 30%;
  left: 10%;
}
.p_txt p:nth-of-type(3) {
  position: absolute;
  top: 50%;
  right: 10%;
}
.p_txt p:nth-of-type(4) {
  position: absolute;
  top: 75%;
  left: 10%;
}

.p_box{
  width: 33vw;
  aspect-ratio: 640/ 330;
  background-color: #E7E7E7;
  border-radius: 50px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  padding-top: 8%;
  text-align: center;
  color: #222222;
  font-size: 1.2vw;
  font-weight: 500;
}

article:nth-of-type(1) > a >.p_box {
  position: absolute;
  top: 13%;
  left: 16%;
  background: url(../img/minumsa.png) center top/cover;
  color: transparent;
  transition: transform 0.3s ease, border 0.2s ease;
}
article:nth-of-type(1) > a > .p_box:hover{
  cursor: pointer;
  transform: scale(1.1);
  border: 3px solid #003F70;
  z-index: 999;
}

article:nth-of-type(2) > a > .p_box {
  position: absolute;
  top: 13%;
  right: 14%;
  background: url(../img/golden.png) center top/cover;
  color: transparent;
  transition: transform 0.3s ease, border 0.2s ease;
}
article:nth-of-type(2) > a > .p_box:hover{
  cursor: pointer;
  transform: scale(1.1);
  border: 3px solid #F2B050;
  z-index: 999;
}

article:nth-of-type(3) > a > .p_box {
  position: absolute;
  top: 53%;
  left: 16%;
  background: url(../img/seoul.png) center top/cover;
  color: transparent;
  transition: transform 0.3s ease, border 0.2s ease;
}
article:nth-of-type(3) > a > .p_box:hover{
  cursor: pointer;
  transform: scale(1.1);
  border: 3px solid #A1A1A1;
  z-index: 999;
}

article:nth-of-type(4) > a > .p_box {
  position: absolute;
  top: 53%;
  right: 14%;
  background: url(../img/seven.png) center top/cover;
  color: transparent;
  transition: transform 0.3s ease, border 0.2s ease;
}
article:nth-of-type(4) > a > .p_box:hover{
  cursor: pointer;
  transform: scale(1.1);
  border: 3px solid #4D8654;
  z-index: 999;
}
article a {
  display: block;
  text-decoration: none;
}


.profile_box {
  width: 15vw;
  aspect-ratio: 290 / 297;
  background-color: #FBFBFB;
  border-radius: 50px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}
article > .profile_box > p{
  color: #333333;
  font-size: 1.2vw;
  font-weight: 700;
  text-align: center;
  margin-top: 7vw;
}

article:nth-of-type(1) > .profile_box{
  position: absolute;
  border: 2px dashed #003F70;
  top: 22%;
  left: 10%;
}
article:nth-of-type(2) > .profile_box{
  position: absolute;
  border: 2px dashed #F2B050;
  top: 22%;
  right: 10%;
}
article:nth-of-type(3) > .profile_box{
  position: absolute;
  border: 2.5px dashed #A1A1A1;
  top: 62%;
  left: 10%;
}
article:nth-of-type(4) > .profile_box{
  position: absolute;
  border: 2px dashed #4D8654;
  top: 62%;
  right: 10%;
}